body{
    background-color: #d5c8b9;
    font-family: 'Courier New', Courier, monospace;
}

.view {
    background-color: white;
    /* border: 2px solid #fff8ef ; */
    padding: 50px;
    padding-top: 10px;
    border-radius: 25px;
    height: 900px;
    width: 1400px;
    justify-content: center;
    margin: auto;
    margin-top: 0px;
}

.flex-container {
    height: 800px;
    width: 1400px;
    display: flex;
    justify-content: space-evenly;
}

h1{
    text-align: center;}

#map {
    display: flex;
    height: 650px;
    width: 400px;
    border-radius: 25px;
    padding: 10px;
}

.details {
    height:650px;
    width: 900px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 25px;
    padding: 10px;
}

#dataviz {
    height: 350px;
    width: 875px;
    margin: auto;

}

#dataviz2 {
    height: 300px;
    width: 875px;
    margin: auto;
}
.compilebox {
    display: flex;
    width: 250px;
    height: 100px;
    margin: auto;
}

.inputbox {
    background-color: #b5a28c;
    border-radius: 25px;
    display: flex;
    width: 100px;
    margin: auto;
    text-align: center;
}
.inputname {
    text-align: center;
    margin: auto;
    margin-left: 10px;
    font-size: x-small;
}

.inputvalues {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
}

.inputfield {
    justify-content: center;
    padding: 5px;
    width: 50px;
    border-radius: 25px;
}

.but{
    display: flex;
}

#recompilebutton{
 border-radius: 25px;
 width: 100px;
 margin-left: 12.5px;
}
.maptools{
    display: flex;
    width: 400px;
    height: 150px;
    padding: 5px;
    padding-top: 10px;
    margin: auto;
    border-radius: 25px;
    margin-top: 10px;
}

.colorbox{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.colormap {
    margin-top: 25px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.colors {
    width: 25px;
    height: 25px;
}

.verticalcolortext{
    display: flex;
    flex-wrap: wrap;
    width: 25px;
    height: 150px;
    vertical-align: bottom;
}

.horizontalcolortext{
    display: flex;
    width: 125px;
    height: 25px;
    margin-left: 25px;
    margin-top: -25px;
}

.colortext{
    width: 25px;
    height: 25px;
    font-size: xx-small;
}
#cth{
    text-align: left;
}

#ctv {
    text-align:right;
    line-height: 25px;
}
#colortitle{
    font-weight: bold;
    line-height: 25px;
}
#ctvarrows{
    font-size: large;
    text-align:center;
}
#ctharrows{
    font-size: large;
    line-height: 10px;
}